* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
}

.card {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.cardFront {
    background-color: #101c2c;
    transform: rotateY(180deg);
}

.cardBack {
    background-color: #05c3ff;
    color: #101c2c;
    font-size: 30px;
}